<?php
// @codingStandardsIgnoreFile
$data = $block->getPopupData();
?>
<div id="newsletter_pop_up" class="pt_newsletterpopup" style ='width:790px ; height:650px ;' >

    <div class="header"><strong><?php echo $data['title']; ?></strong></div>
    <div class="content">
        <?php echo $data['content'];?>
        <span class="b-close"><span>X</span></span>
    </div>
    <div>
        <button class="action register-popup primary register-deny b-close" title="Cancel" onclick="location.href='<?php echo $this->getUrl();?>'" spsourceindex="92">
            <span><?php echo __('Cancel') ?></span>
        </button>
        <button class="action register-popup primary register-accept b-close" title="Agree" spsourceindex="92">
            <span><?php echo __('Agree') ?></span>
        </button>
    </div>
</div>
<script type ="text/javascript">
require(["jquery"], function($){
        $('#newsletter_pop_up .content .b-close').click(function(){
            location.href = '<?php echo $this->getUrl();?>';
        });
        function setCookie(name,value,days)
        {
          if (days) {
                var date = new Date();
                date.setTime(date.getTime()+(days*24*60*60*1000));
                var expires = "; expires="+date.toGMTString();
              }
              else var expires = "";
              document.cookie = name+"="+value+expires+"; path=/";
        }

        function getCookie(name)
        {
              var nameEQ = name + "=";
              var ca = document.cookie.split(';');
              for(var i=0;i < ca.length;i++) {
                var c = ca[i];
                while (c.charAt(0)==' ') c = c.substring(1,c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
              }
              return null;
        }
            
            var popup = $('#newsletter_pop_up').bPopup({
                position: ['auto', '120'],
                speed: '600',
                modalClose: false,
                transition: 'slideDown',
                 onOpen: function() {
                    },
                onClose: function(e){
                    //console.log(e.target);
                    //console.log(e.target.tagName);
                     //location.href='<?php //echo $this->getUrl();?>';
                }
            });
            //}

 });     
</script>
<style type="text/css">
    #newsletter_pop_up {
        top:35% !important;
        padding:0 !important;
    }
    #newsletter_pop_up .header {
        line-height: 30px;
        margin-bottom: 0;
        color: #000;
        background-color: #F3F3F3;
        text-align: left;
        padding: 0 10px 0 10px;
    }
    #newsletter_pop_up .content {
        color:#000 !important;
        text-align:left;
        padding: 15px;
        font-size:20px;
        max-height: 600px;
        overflow-y: scroll;
        min-height: 500px;
    }
    button, .action.primary.register {

    }
    .action.primary.register-accept span, a.action.primary.register span {
            background: #EE2222;
            color: #FFFFFF;
            min-width: 200px;
            height: 50px;
            line-height: 50px;
            font-size: 20px;
            font-weight: normal;
    }
    .action.primary.register-deny span, a.action.primary.register span {
        background: #E3E4E5;
        color: #999999;
        min-width: 200px;
        height: 50px;
        line-height: 50px;
        font-size: 20px;
        font-weight: normal;
    }
    .action.primary.register-popup {
        padding:10px;
    }
    #newsletter_pop_up .content .b-close {
        color: #B4B4B4;
        cursor: pointer;
        display: block;
        padding: 0 5px;
        text-align: center;
        text-decoration: none;
        background-color: #F3F3F3;
        min-width: 70px;
        height: 30px;
        line-height: 30px;
        border: none;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 0;
        position: absolute;
        top: 0px;
        right: 0;
    }
    #newsletter_pop_up .content .b-close:after {
        content: "X";
        font-size: 25px;
    }
</style>