<div style="text-align: center;/* margin: 0 auto; */width: 100%;">
    <div style="text-align: left;margin: 20% auto;/* float: right; */margin-left: 40%;margin-right: 10%;">
        <p><strong style="font-weight: bold;">驗證連結已發送</strong></p>
        <!-- <img src="<?php //echo $block->getLogoSrc();?>"> -->
        <p>系統已經發送驗證信至您的郵箱 <?php echo $block->getEmailAddress();?>，請登入點擊信件內連結來啟動您的帳號。

        若您超過10分鐘未收到郵件，您可以<a href="<?php echo $block->getEmailConfirm();?>" style="color: #006699; text-decoration: none;font-weight: bold; ">重新發送驗證信。</a></p>

    </div>
</div>
<?php $block->deleteSession(); ?>