<?php
    $customerName = $block->getCustomerName();
?>
<div>
    
</div>
<div style="text-align: center;/* margin: 0 auto; */width: 100%;">
    <div style="text-align: left;margin: 20% auto;/* float: right; */margin-left: 40%; margin-bottom: 0px;margin-right: 10%;">
        <p> <?php echo __('恭喜，');?><?php echo $customerName; ?> <?php echo __('已註冊成功');?>！</p>
    </div>
    <div class="primary cus-sms-verify" style="margin-left: -60px;">
        <button type="button" class="action submit primary" onclick="location.href='<?php echo $this->getUrl();?>'" title="<?php /* @escapeNotVerified */ echo __('前往購物') ?>"><span><?php /* @escapeNotVerified */ echo __('前往購物') ?></span></button>
        </div>
</div>
<?php $block->deleteSession(); ?>
