<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Create account form template
 *
 * @var $block \Magento\Customer\Block\Form\Register
 */
?>
<?php
    $validateCellPhone = '';
    $objectStoreManager = \Magento\Framework\App\ObjectManager::getInstance()->create('\Magento\Store\Model\StoreManagerInterface')->getStore();
    $storeCode = $objectStoreManager->getCode();
    if ('cn' === $storeCode){
        $validateCellPhone = ',\'phonecn\':true';
    } elseif('tw' === $storeCode) {
        $validateCellPhone = ',\'phonetw\':true';
    }
?>
<?php echo $block->getChildHtml('form_fields_before')?>
<?php /* Extensions placeholder */ ?>
<?php echo $block->getChildHtml('customer.form.register.extra')?>
<form class="form create account form-create-account" action="<?php /* @escapeNotVerified */ echo $block->getPostActionUrl() ?>" method="post" id="form-validate" enctype="multipart/form-data" autocomplete="off">
    <fieldset class="fieldset create info" style="display:none;">
        <legend class="legend"><span><?php /* @escapeNotVerified */ echo __('Personal Information') ?></span></legend><br>
        <input type="hidden" name="success_url" value="<?php /* @escapeNotVerified */ echo $block->getSuccessUrl() ?>">
        <input type="hidden" name="error_url" value="<?php /* @escapeNotVerified */ echo $block->getErrorUrl() ?>">
        <?php if ($block->isNewsletterEnabled()): ?>
            <div class="field choice newsletter">
                <input type="checkbox" name="is_subscribed" title="<?php /* @escapeNotVerified */ echo __('Sign Up for Newsletter') ?>" value="1" id="is_subscribed"<?php if ($block->getFormData()->getIsSubscribed()): ?> checked="checked"<?php endif; ?> class="checkbox">
                <label for="is_subscribed" class="label"><span><?php /* @escapeNotVerified */ echo __('Sign Up for Newsletter') ?></span></label>
            </div>
            <?php /* Extensions placeholder */ ?>
            <?php //echo $block->getChildHtml('customer.form.register.newsletter')?>
        <?php endif ?>

        <?php $_dob = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Dob') ?>
        <?php if ($_dob->isEnabled()): ?>
            <?php echo $_dob->setDate($block->getFormData()->getDob())->toHtml() ?>
        <?php endif ?>

        <?php $_taxvat = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Taxvat') ?>
        <?php if ($_taxvat->isEnabled()): ?>
            <?php echo $_taxvat->setTaxvat($block->getFormData()->getTaxvat())->toHtml() ?>
        <?php endif ?>

        <?php $_gender = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Gender') ?>
        <?php if ($_gender->isEnabled()): ?>
            <?php echo $_gender->setGender($block->getFormData()->getGender())->toHtml() ?>
        <?php endif ?>
    </fieldset>
    <?php if ($block->getShowAddressFields()): ?>
        <fieldset class="fieldset address">
            <legend class="legend"><span><?php /* @escapeNotVerified */ echo __('Address Information') ?></span></legend><br>
            <input type="hidden" name="create_address" value="1" />
            <div class="field company">
                <label for="company" class="label"><span><?php /* @escapeNotVerified */ echo __('Company') ?></span></label>
                <div class="control">
                    <input type="text" name="company" id="company" value="<?php echo $block->escapeHtml($block->getFormData()->getCompany()) ?>" title="<?php /* @escapeNotVerified */ echo __('Company') ?>" class="input-text <?php /* @escapeNotVerified */ echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('company') ?>">
                </div>
            </div>
            <div class="field telephone">
                <label for="telephone" class="label"><span><?php /* @escapeNotVerified */ echo __('Phone Number') ?></span></label>
                <div class="control">
                    <input type="text" name="telephone" id="telephone" value="<?php echo $block->escapeHtml($block->getFormData()->getTelephone()) ?>" title="<?php /* @escapeNotVerified */ echo __('Phone Number') ?>" class="input-text <?php /* @escapeNotVerified */ echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('telephone') ?>">
                </div>
            </div>

            <?php $_streetValidationClass = $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('street'); ?>

            <div class="field street required">
                <label for="street_1" class="label"><span><?php /* @escapeNotVerified */ echo __('Street Address') ?></span></label>
                <div class="control">
                    <input type="text" name="street[]" value="<?php echo $block->escapeHtml($block->getFormData()->getStreet(0)) ?>" title="<?php /* @escapeNotVerified */ echo __('Street Address') ?>" id="street_1" class="input-text <?php /* @escapeNotVerified */ echo $_streetValidationClass ?>">
                    <div class="nested">
                        <?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
                        <?php for ($_i = 2, $_n = $this->helper('Magento\Customer\Helper\Address')->getStreetLines(); $_i <= $_n; $_i++): ?>
                            <div class="field additional">
                                <label class="label" for="street_<?php /* @escapeNotVerified */ echo $_i ?>">
                                    <span><?php /* @escapeNotVerified */ echo __('Address') ?></span>
                                </label>
                                <div class="control">
                                    <input type="text" name="street[]" value="<?php echo $block->escapeHtml($block->getFormData()->getStreetLine($_i - 1)) ?>" title="<?php /* @escapeNotVerified */ echo __('Street Address %1', $_i) ?>" id="street_<?php /* @escapeNotVerified */ echo $_i ?>" class="input-text <?php /* @escapeNotVerified */ echo $_streetValidationClass ?>">
                                </div>
                            </div>
                        <?php endfor; ?>
                    </div>
                </div>
            </div>

            <div class="field required">
                <label for="city" class="label"><span><?php /* @escapeNotVerified */ echo __('City') ?></span></label>
                <div class="control">
                    <input type="text" name="city" value="<?php echo $block->escapeHtml($block->getFormData()->getCity()) ?>" title="<?php /* @escapeNotVerified */ echo __('City') ?>" class="input-text <?php /* @escapeNotVerified */ echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('city') ?>" id="city">
                </div>
            </div>

            <div class="field region required">
                <label for="region_id" class="label"><span><?php /* @escapeNotVerified */ echo __('State/Province') ?></span></label>
                <div class="control">
                    <select id="region_id" name="region_id" title="<?php /* @escapeNotVerified */ echo __('State/Province') ?>" class="validate-select" style="display:none;">
                        <option value=""><?php /* @escapeNotVerified */ echo __('Please select a region, state or province.') ?></option>
                    </select>
                    <input type="text" id="region" name="region" value="<?php echo $block->escapeHtml($block->getRegion()) ?>" title="<?php /* @escapeNotVerified */ echo __('State/Province') ?>" class="input-text <?php /* @escapeNotVerified */ echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('region') ?>" style="display:none;">
                </div>
            </div>

            <div class="field zip required">
                <label for="zip" class="label"><span><?php /* @escapeNotVerified */ echo __('Zip/Postal Code') ?></span></label>
                <div class="control">
                    <input type="text" name="postcode" value="<?php echo $block->escapeHtml($block->getFormData()->getPostcode()) ?>" title="<?php /* @escapeNotVerified */ echo __('Zip/Postal Code') ?>" id="zip" class="input-text validate-zip-international <?php /* @escapeNotVerified */ echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('postcode') ?>">
                </div>
            </div>

            <div class="field country required">
                <label for="country" class="label"><span><?php /* @escapeNotVerified */ echo __('Country') ?></span></label>
                <div class="control">
                    <?php echo $block->getCountryHtmlSelect() ?>
                </div>
            </div>
            <?php $addressAttributes = $block->getChildBlock('customer_form_address_user_attributes');?>
            <?php if ($addressAttributes): ?>
                <?php $addressAttributes->setEntityType('customer_address'); ?>
                <?php $addressAttributes->setFieldIdFormat('address:%1$s')->setFieldNameFormat('address[%1$s]');?>
                <?php $block->restoreSessionData($addressAttributes->getMetadataForm(), 'address');?>
                <?php echo $addressAttributes->setShowContainer(false)->toHtml()?>
            <?php endif;?>
            <input type="hidden" name="default_billing" value="1">
            <input type="hidden" name="default_shipping" value="1">
        </fieldset>

    <?php endif; ?>
    <fieldset class="fieldset create account" data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>">
        <legend class="legend"><span><?php /* @escapeNotVerified */ echo __('Sign-in Information') ?></span></legend><br>
        <div class="field required">
            <label for="username" class="label"><span><?php /* @escapeNotVerified */ echo __('User Name') ?></span></label>
            <div class="control">
                <input type="text" name="user_name" id="user_name" class="minimum-length-4 maximum-length-20 input-text" value="<?php echo $block->escapeHtml($block->getFormData()->getUserName()) ?>" title="<?php /* @escapeNotVerified */ echo __('User Name') ?>" class="input-text" data-validate="{required:true, 'validate-length-f':true, 'validate-special-character-f':true}">
            </div>
        </div>

        <div class="field required">
            <label for="signup-cell" class="label"><span><?php /* @escapeNotVerified */ echo __('Signup Cell') ?></span></label>
            <div class="control">
                <input type="text" name="signup_cell" autocomplete="signup-cell" id="signup-cell" value="<?php echo $block->escapeHtml($block->getFormData()->getSignupCell()) ?>" title="<?php /* @escapeNotVerified */ echo __('Signup Cell') ?>" class="input-text" data-validate="{required:true, 'validate-number':true <?php echo $validateCellPhone;?>, 'remote':'<?php echo $this->getUrl('custtomer/index/cellphone');?>'}">
            </div>
            <span class="display-email-field"><?php echo __('郵箱驗證')?></span>
        </div>

        <div class="field required" style="display:none;">
            <label for="email_address" class="label"><span><?php /* @escapeNotVerified */ echo __('Email') ?></span></label>
            <div class="control">
                <?php
                    $defaultEmail = '';//'noemail123@gmail.com';
                    if($block->getFormData()->getEmail()){
                        $defaultEmail = $block->escapeHtml($block->getFormData()->getEmail());
                    }
                ?>
                <input type="email" name="email" autocomplete="email" id="email_address" value="<?php echo  $defaultEmail;?>" title="<?php /* @escapeNotVerified */ echo __('Email') ?>" class="input-text" data-validate="{}">
            </div>
        </div>

        <div class="field">
            <label for="sms_code" class="label"><span><?php /* @escapeNotVerified */ echo __('SMS Code') ?></span></label>
            <div class="sms-code-input control">
                <input type="text" name="sms-code" autocomplete="sms-code" id="sms-code" value="<?php echo $block->escapeHtml($block->getFormData()->getSmsCode()) ?>" title="<?php /* @escapeNotVerified */ echo __('Signup Cell') ?>" class="input-text" data-validate="{required:false}">
                <div class="primary cus-sms-verify" style="float: right;">
                    <button type="button" id="sms-code-button" class="action submit primary" title="<?php /* @escapeNotVerified */ echo __('獲取驗證碼') ?>"><span><?php /* @escapeNotVerified */ echo __('獲取驗證碼') ?></span></button>
                </div>
                <div class="sms-message" style="display: none;">
                    <?php 
                        $mess01cn = __('验证码已发送，120s内输入有效。');
                        $mess02cn = __('验证码不正确或已过期，请重新获取');
                        $mess03cn = __('完成注册须进行手机号认证，请点选获取验证码');
                        $mess01tw = __('驗證碼已發送，120s內輸入有效。');
                        $mess02tw = __('驗證碼不正確或已過期，請重新獲取'); //old 驗證碼有誤，請验证码不正确或已过期，请重新获取
                        $mess03tw = __('完成註冊須進行手機認證，請點選獲取驗證碼');
                    ?>
                    <div for="" generated="true" class="message" id=""><?php echo ${'mess01'.$storeCode}; ?></div>
                    <div for="" generated="true" class="message" id=""><?php echo ${'mess02'.$storeCode}; ?></div>
                    <div for="" generated="true" class="message" id=""><?php echo ${'mess03'.$storeCode}; ?></div>

                </div>
            </div>
            
        </div>

        <div class="field password required" data-mage-init='{"passwordStrengthIndicatorCus": {}}'>
            <label for="password" class="label"><span><?php /* @escapeNotVerified */ echo __('Password') ?></span></label>
            <div class="control">
                <input type="password" name="password" id="password"
                       title="<?php /* @escapeNotVerified */ echo __('Password') ?>"
                       class="input-text"
                       data-password-min-length="<?php echo $block->escapeHtml($block->getMinimumPasswordLength()) ?>"
                       data-password-min-character-sets="<?php echo $block->escapeHtml($block->getRequiredCharacterClassesNumber()) ?>"
                       data-validate="{required:true, 'validate-customer-password-cn':true}"
                       autocomplete="off">
                <div id="password-strength-meter-container" data-role="password-strength-meter" >
                    <div id="password-strength-meter" class="password-strength-meter">
                        <?php /* @escapeNotVerified */ echo __('Password Strength'); ?>:
                        <span id="password-strength-meter-label" data-role="password-strength-meter-label" >
                            <?php /* @escapeNotVerified */ echo __('No Password'); ?>
                        </span>
                    </div>
                </div>
            </div>

        </div>
        <div class="field confirmation required">
            <label for="password-confirmation" class="label"><span><?php /* @escapeNotVerified */ echo __('Confirm Password') ?></span></label>
            <div class="control">
                <input type="password" name="password_confirmation" title="<?php /* @escapeNotVerified */ echo __('Confirm Password') ?>" id="password-confirmation" class="input-text" data-validate="{required:true, equalTo:'#password'}" autocomplete="off">
            </div>
        </div>

        <div class="field">
            <label for="referral" class="label"><span><?php /* @escapeNotVerified */ echo __('推薦會員') ?></span></label>
            <div class="control">
                <input type="referral" name="referral" title="<?php /* @escapeNotVerified */ echo __('推薦會員') ?>" id="referral" class="input-text" data-validate="{required:false}" autocomplete="off">
            </div>
        </div>


        <?php echo $block->getChildHtml('form_additional_info'); ?>
    </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <button type="submit" class="action submit primary" title="<?php /* @escapeNotVerified */ echo __('Create an Account') ?>"><span><?php /* @escapeNotVerified */ echo __('Create an Account') ?></span></button>
        </div>
    </div>
</form>
<script>
require([
    'jquery',
    'mage/mage'
], function($){

    var dataForm = $('#form-validate');
    var ignore = <?php /* @escapeNotVerified */ echo $_dob->isEnabled() ? '\'input[id$="full"]\'' : 'null'; ?>;
    window.b = dataForm.mage('validation', {
    <?php if ($_dob->isEnabled()): ?>
        errorPlacement: function(error, element) {
            if (element.prop('id').search('full') !== -1) {
                var dobElement = $(element).parents('.customer-dob'),
                    errorClass = error.prop('class');
                error.insertAfter(element.parent());
                dobElement.find('.validate-custom').addClass(errorClass)
                    .after('<div class="' + errorClass + '"></div>');
            }
            else {
                error.insertAfter(element);
            }
        },
        ignore: ':hidden:not(' + ignore + ')'
    <?php else: ?>
        ignore: ignore ? ':hidden:not(' + ignore + ')' : ':hidden'
    <?php endif ?>
    }).find('input:text').attr('autocomplete', 'off');
    $('#sms-code-button').click(function(){
        $('div.sms-message').show();
    });

});
</script>
<?php if ($block->getShowAddressFields()): ?>
<script type="text/x-magento-init">
    {
        "#country": {
            "regionUpdater": {
                "optionalRegionAllowed": <?php /* @escapeNotVerified */ echo($block->getConfig('general/region/display_all') ? 'true' : 'false'); ?>,
                "regionListId": "#region_id",
                "regionInputId": "#region",
                "postcodeId": "#zip",
                "form": "#form-validate",
                "regionJson": <?php /* @escapeNotVerified */ echo $this->helper('Magento\Directory\Helper\Data')->getRegionJson() ?>,
                "defaultRegion": "<?php /* @escapeNotVerified */ echo $block->getFormData()->getRegionId() ?>",
                "countriesWithOptionalZip": <?php /* @escapeNotVerified */ echo $this->helper('Magento\Directory\Helper\Data')->getCountriesWithOptionalZip(true) ?>
            }
        }
    }
</script>
<?php endif; ?>

<script type="text/javascript">
require(['jquery', // jquery Library
    'jquery/ui', // Jquery UI Library
    'jquery/validate', // Jquery Validation Library
    'mage/translate' // Magento text translate (Validation message translte as per language)
], function($) {
    
    $.validator.messages = $.extend($.validator.messages, {
        equalTo: $.mage.__('密碼不相符，請再確認一次')
    });

    $.validator.messages = $.extend(true, $.validator.messages, {
        'validate-customer-password': function(){return $.mage.__('密碼須至少為6個字符，且為中、英文的的組合')}
        
    });

    $.validator.addMethod('validate-special-character-f', function(value){
        return (/^[a-zA-Z0-9_.-]*$/).test(value);
    }, $.mage.__('用戶名須至少為4個字符，可包含中、英文、數字與"-"、"_"'));
    
        var isEmptyNoTrim =  function(value) {
            return (value === '' || (value == null) || (value.length === 0));
        };
        $.validator.addMethod('phonecn', function(value){
            value = value.replace(/\s+/g, "");
                return value.length < 12 && value.match(/^(1\d{2})\d{4}\d{4}$/);
            },$.mage.__('請確認手機號格式'));
        //});

        $.validator.addMethod('phonetw', function(value){
            value = value.replace(/\s+/g, "");
                return value.length < 11 && value.match(/^(09\d{2})\d{3}\d{3}$/);
            }, $.mage.__('請確認手機號格式'));
        //});

        $.validator.addMethod('validate-email-ajax', function(value){
            var _this = this;
            var checkRs = true;
            var check = isEmptyNoTrim(value) || /^([a-z0-9,!\#\$%&'\*\+\/=\?\^_`\{\|\}~-]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z0-9,!\#\$%&'\*\+\/=\?\^_`\{\|\}~-]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*@([a-z0-9-]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z0-9-]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*\.(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]){2,})$/i.test(value);

            if (check){
                //call ajax to check email in db
                var customurl = "<?php echo $this->getUrl().'custtomer/index/index'?>";
                var vs = $.ajax({
                    url: customurl,
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        email: value,
                    },
                    complete: function(response) {
                        var rs = response.responseJSON.success;
                        if (rs) {
                            _this.errorEmailMessage = '此'+value+'已被註冊過';
                            checkRs = false;
                        }
                    },
                    error: function (xhr, status, errorThrown) {
                        console.log('Error happens. Try again.');
                    }
                });
            } else {
                return check;
            }
            $.when(vs).done(function(v){
                console.log('2');
            })
            console.log(3);
            return vs;
        }, function(){
            //$.mage.__("%1").replace('%1', _this.errorEmailMessage);
        });
        
        $.validator.addMethod('validate-customer-password-cn',function (v, elm) {
                var validator = this,
                    length = 0,
                    counter = 0;
                var passwordMinLength = $(elm).data('password-min-length');
                var passwordMinCharacterSets = $(elm).data('password-min-character-sets');
                var pass = $.trim(v);
                var result = pass.length >= passwordMinLength;
                if (result == false) {
                    validator.passwordErrorMessage = $.mage.__(
                        "密碼須至少為6個字符，且為英文與數字的組合"
                    );//.replace('%1', passwordMinLength);
                    return result;
                }
                if (pass.match(/\d+/)) {
                    counter ++;
                }
                if (pass.match(/[a-z]+/)) {
                    counter ++;
                }
                if (pass.match(/[A-Z]+/)) {
                    counter ++;
                }
                if (pass.match(/[^a-zA-Z0-9]+/)) {
                    counter ++;
                }
                if (counter < passwordMinCharacterSets) {
                    result = false;
                    validator.passwordErrorMessage = $.mage.__(
                        "密碼須至少為6個字符，且為英文與數字的組合"
                    );
                }
                return result;
            }, function () {
                return this.passwordErrorMessage;
            });

        $.validator.addMethod('validate-length-f', function (v, elm) {
                var reMax = new RegExp(/^maximum-length-[0-9]+$/),
                    reMin = new RegExp(/^minimum-length-[0-9]+$/),
                    validator = this,
                    result = true,
                    length = 0;
                $.each(elm.className.split(' '), function (index, name) {
                    if (name.match(reMax) && result) {
                        length = name.split('-')[2];
                        validator.attrLength = length;
                        result = (v.length <= length);
                    }
                    if (name.match(reMin) && result && !$.mage.isEmpty(v)) {
                        
                        length = name.split('-')[2];
                        validator.attrLength = length;  
                        result = v.length >= length;
                    }

                    if (!(/[^a-zA-Z0-9]+/i.test(v))) {
                        return false;
                    }
                });
                return result;
            }, function () {
                return $.mage.__("用戶名須至少為4個字符，可包含中、英文、數字與\"-\"、\"_\"")
                    .replace('%1', this.attrLength);
            });

        $('.display-email-field').on('click',function(){
            var _this = this;
            var el = $(this).parent().next();
            var elChild = $(el).next('#email_address');
            var change;
            el.toggle("slow", function() {
                // Animation complete.
                var isVisible = $(el).is(':visible');
                if(true === isVisible){
                    $(_this).html('手機驗證');
                    $('#email_address').attr('value','')
                    .attr('data-validate',"{required:true, 'validate-email':true, 'remote':'<?php echo $this->getUrl('custtomer/index/index', ['_secure' => true]); ?>'}");
                    window.b;

                } else {
                    $(_this).html('郵箱驗證');
                    $('#email_address').attr('data-validate','{}')
                    .attr('value','');
                    window.b;
                }
            });
        });


});
</script>
<style type="text/css">
    .control input.input-text, select {
        width: 100% !important;
    }
    .control.sms-code-input input.input-text {
        width: 60% !important;
    }
    .display-email-field {
        line-height: 35px;
        cursor: pointer;
        font-weight: bold;
    }
    @media (min-width: 768px){
        .fieldset>.field:not(.choice)>.control {
            width:60% !important;
        }
        
        .fieldset>.field:not(.choice)>.control.sms-code-input {
            /*width:40% !important;*/
        }
    }
    @media screen and (max-device-width: 768px) {
        .control.sms-code-input input.input-text {
            width: 100% !important;
            /*margin-top: 10px;*/
        }
        div.cus-sms-verify {
            float:none !important;
            margin:0 !important;
        }
        div.cus-sms-verify button.primary.action {
            
            margin-top: 10px;
            width: 100%;
        }

    }
    .sms-message div.message {
        margin:10px;
        margin-left: 0px;
    }
</style>